$defaultColor: #1989fa;
//layout_slider_logo_variable
$layout-slider-menu-logo-width-height: 2rem;
$layout-slider-menu-logo-title-color: white;
$layout-slider-menu-logo-title-fontSize: 1.25rem;
//layout_slider_variable
$layout-slider-menu-width: 16rem;
$layout-slider-menu-height: 100vh;
$layout-slider-menu-back-color: #001529;
$layout-slider-menu-item-height: 3rem;
$layout-slider-menu-item-padding: 1rem;
$layout-slider-menu-collpase-width: 4rem;

//layout_layout_tabbar_variable
$layout-tabbar-height: 3rem;
$layout-tabbar-padding-top: 0.6rem;
$layout-tabbar-back-color: rgb(255, 255, 255);
//layout_main_variable
$layout-main-padding: 1.25rem;
$layout-main-back-color: rgb(255, 255, 255);
